<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ko-fi Clone</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/index.css">
    <style>

    </style>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="https://www.flaticon.es/iconos-gratis/neumatico" title="neumático iconos"></a>
            <p>Rueda De <br>La Vida J&C</p>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('nosotros') }}">Nosotros</a>
        </div>
    </nav>
    <div class="container">
        <h1>Rueda De La Vida</h1>
        <p>Rueda de la vida hecha por Cesar y Juan Manuel</p>
        <a href="{{ url_for('evaluacion') }}" class="btn">Presentar Prueba</a>
        <p class="footer">¿Qué esperas?</p>
    </div>
</body>
</html>